{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ES8VFXF5B7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ES8VFXF5B7');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'logo-no-background.svg' %}" type="image/svg+xml">
    <title>Password Reset Confirmation | NewbieOs</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">

</head>
<body>
    <div class="container">
        <h1>Password Reset Confirmation</h1>
        <p>Please enter your new password below:</p>
        
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <label for="id_new_password1">New password:</label>
            <input type="password" id="id_new_password1" name="new_password1" required>
            {{ form.new_password1.errors }}

            <label for="id_new_password2">New password confirmation:</label>
            <input type="password" id="id_new_password2" name="new_password2" required>
            {{ form.new_password2.errors }}

            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
