{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ES8VFXF5B7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ES8VFXF5B7');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'logo-no-background.svg' %}" type="image/svg+xml">
    <title>Password Reset | NewbieOs</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">

</head>
<body>
    <div class="container">
        <h1>Password Reset</h1>
        <p>Please enter your email address to reset your password:</p>
        
        <form method="post">
            {% csrf_token %}
            <label for="id_email">Email:</label>
            <input type="email" id="id_email" name="email" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
